@using TransportSmart.Web.Resources;
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Client</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/extra-libs/multicheck/multicheck.css">
    <link href="../../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="../../dist/css/style.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/libs/quill/dist/quill.snow.css">
    <link href="../../dist/css/style.min.css" rel="stylesheet">

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/extra-libs/multicheck/multicheck.css">
    <link href="../../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="../../dist/css/style.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/libs/quill/dist/quill.snow.css">
    <link href="../../dist/css/style.min.css" rel="stylesheet">

    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="../../assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="../../assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="../../assets/extra-libs/DataTables/datatables.min.js"></script>



   
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.min.js"></script>
    <!-- This Page JS -->
    <script src="../../assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="../../dist/js/pages/mask/mask.init.js"></script>
    <script src="../../assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="../../assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="../../assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
    <script src="../../assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="../../assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="../../assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="../../assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../../assets/libs/quill/dist/quill.min.js"></script>
</head>

<body>
    <div class="page-breadcrumb" dir="rtl">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header row">
                        <button type="button" onclick="HideModal()" class="close col-2" data-dismiss="modal" aria-label="Close">
                            <span id="close" aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="card-title col-8" style="text-align:center">أضافة عميل</h4>
                        <h4 class="card-title col-2" style="text-align:center"></h4>
                    </div>

                    <div class="modal-body ClientForm">

                    </div>
                </div>
            </div>
        </div>




        <div id="DeleteModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header row">
                        <button type="button" class="close col-2" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <form class="form-horizontal">
                                    <div class="card-body">
                                        <h4 class="card-title" style="text-align:right">هل تريد حقا حذف معلومات العميل</h4>
                                    </div>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <div class="row">
                                                <button type="button" class="btn btn-primary col-md-3">نعم</button>
                                                <button type="button" class="btn btn-primary col-md-3">لا</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:right">كشف العملاء</h5>
                            <div class="row" style="padding:1.25rem">
                                <button type="button" class="btn btn-dark btn-md col-md-3" data-toggle="modal" data-target="#myModal" onclick="ClientPartial(0)"><i class="m-r-10 mdi mdi-account-plus"></i>إضافة عميل</button>
                            </div>
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>     </th>
                                            <th>  إسم العميل    </th>
                                            <th> عنوان العميل </th>
                                            <th> نوع العميل            </th>
                                            <th> الشخص المفوض            </th>
                                            <th> البريد الإلكتروني       </th>
                                            <th> رقم الهاتف 1      </th>
                                            <th> رقم الهاتف 2      </th>
                                            <th> رقم الهاتف 3    </th>
                                            <th> الرقم الضريبي        </th>
                                            <th> الرقم الضريبي        </th>
                                            <th> الرقم الضريبي        </th>
                                            <th> </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <script>

         $.ajax({
        type: "POST",
        url: "GetListOfClients/",
        contentType: "application/json",
        datatype: "json",
        async: false,
        success: function (response) {
            debugger;
            if (response.Success) {
                var oTable = $('#zero_config').DataTable({
                    destroy: true,
                    data: response.listOfClient,
                    dom: '<i<t><"pull-right"B>>',
                    "lengthChange": false,
                    iDisplayLength: -1,
                    "columns": [
                        { "data": "ClientID" },
                        { "data": "ClientName" },
                        { "data": "ClientAddress" },
                        { "data": "ClientType" },
                        { "data": "AuthorizedPerson" },
                        { "data": "Email" },
                        { "data": "TelNumber" },
                        { "data": "PhoneNumber" },
                        { "data": "PhoneNumber1" },
                        { "data": "TaxNumber" },
                        { "data": "Active" },
                        { "data": "CreatedBy" },
                         {
                            "data": "data",
                            render: function (data, type, row) {
                                var string = "<a id='lnkEdit' onclick=EmpPartial(" + row.EmployeeId+") ><span class='fa fa-edit'></span> </a> ";
                              //  if (row.IsActive) {
                                    string += "<a id='lnkDelete'  onclick=DeleteEmp("+row.EmployeeId+")><span class='fa fa-trash-o'>X</span></a>";
                               // }
                                return string;
                            }
                        }

                    ],
                    "searching": true
                });

                $('#myInputTextSearchField').keyup(function () {
                    oTable.search($(this).val()).draw();
                });

            } else {
                debugger;
                console.log(response.ExceptionMessage);
            }
        }
    });


        function ClientPartial(clientId) {
            debugger;
        $.ajax({
           
            url: '@Url.Action("ClientForm")?ClientId=' + clientId    ,
            type: 'GET',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                debugger;
                $("#myModal").modal("show");
                $('.ClientForm').html(result);
            }
            });
    }

    </script>

</body>

</html>

